@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {font-size: 20px;}
p {font-family: 'Roboto', serif; line-height: 1.2rem;}

header {
  width: 100%;
  min-height: 100vh;
  padding-top: 4rem;
  text-align: center;
  position: relative;
  background: url("https://getbase.org/templates/restaurant-template/hero-bg.3078b0d9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

header h1 {
  font-family: 'Chewy', cursive;
  font-size: 3rem;
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
}
header > h2 {font-size: 2rem;}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  transition: ease 1s;
}
ul {display: flex;}
li {margin: 0 0.4rem;}
.row {display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 1rem 1rem;
}
.gallery {text-align: center; padding: 4rem 1rem 0 1rem; background: url('https://www.falafelinc.org/assets/hero_image.4f6442f.jpg'); background-attachment: fixed;}
.column img {
  margin-top: 2rem;
  vertical-align: middle;
  width: 100%;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
section div {margin: 0.5rem;}

.btn-wrapper div {padding: 0.5rem; margin: 0 1rem; width: 10rem;}


/**/
/**/
/**/

.about {
  min-height: 100vh;
  overflow: hidden;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("https://getbase.org/templates/restaurant-template/contemporary-china.c167a0e1.png");
  font-family: 'Roboto', sans-serif;
}
.about p {font-size: 0.8rem;}
.about-image {width: 100rem; margin: 0 0 0 5rem;}
.about-image img{width: 100%}
.aaa {text-align: center;}
.about h2 {
  margin-bottom: 1rem; 
  font-family: 'Gloria Hallelujah', cursive;
  color: goldenrod;
}
.seperator-wrapper {margin-bottom: 1rem;}
.mantra {margin: 2rem;}


.review {
  min-height: 100vh;
  padding: 4rem;
  background: url('https://www.falafelinc.org/assets/hero_image.4f6442f.jpg');
  text-align: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
}
.wrap {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.review-video {
width: fit-content;
margin: 1rem auto;
}
iframe {
  max-height: 25rem;
  min-width: 30rem;
  min-height: 15rem;
  max-width: 50rem;
  box-shadow: 0 0 50px black;
}

.menu h2,
.menu p {font-family: 'Gloria Hallelujah', cursive; color: goldenrod;}
.menu p {font-weight: bold; font-size: 1.2rem;}
.menu {min-height: 100vh; padding: 4rem; position: relative; background: url('https://getbase.org/templates/restaurant-template/cream-pixels.d883f54b.png');}
.menu-box {text-align: center;
position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.menu-container {
  display: flex;
}
.food {margin: 3rem 1rem; display: flex; flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container {
  max-width: 10rem; 
  position: relative;
}
.container img {width: 100%;}

.seperator {margin: 1rem;}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  
}

.container:hover .content{
  height: 100%;
  
}
.btn3 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.menu a {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.order {
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background: url('https://getbase.org/templates/restaurant-template/cream-pixels.d883f54b.png');
}
label {display: block;}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
  padding: 2rem;
}
footer p {font-size: 0.8rem;}
h5 {text-align: center; font-size: 1.2rem;}
strong {margin-right: 0.2rem;}
.decor {width: 3rem;}
.decor1 {
  transform: rotate(180deg);
}
.empty {
  max-width: 20rem;
  min-width: 10rem;
}
.empty img {width: 100%;}

.btn {
  background-color: rgba(0, 0, 0, 0.5); 
  border: none;
  border-radius: 0.5rem;
  transition: ease 1s;
}
.btn:hover {background-color: rgba(0, 0, 0, 1); cursor: pointer;}
h2 {align-items: center; align-content: center; vertical-align: middle;}

.gallery img {
  border-radius: 0.5rem;
  box-shadow: 0 0 10px black;
}
a {text-decoration: none; color: white; transition: ease 1s;}
nav:hover {background-color: white; color: black;}
nav:hover a {color: black;}

.gallery h2 {font-family: 'Gloria Hallelujah', cursive; color: white;}
.gallery h2 img {box-shadow: none;}
.order h2 {font-family: 'Gloria Hallelujah', cursive; color: goldenrod;}